<mat-toolbar color="primary">
    <span>Dashboard</span>
     <div class="spacer"></div>
       <a mat-button class="active" routerLink="/login">Login</a>
       <a mat-button class="active" routerLink="/dashboard" *ngIf="userRole">Dashboard</a>
       <a mat-button [routerLink]="['/register']" *ngIf="userRole">Register</a>
</mat-toolbar>






<!-- Router Added
<mat-toolbar color="primary">
    <span>User Management</span>
     <div class="spacer"></div>
       <a mat-button routerLink="/users">Home</a>
       <a mat-button routerLink="/add">About</a>
       <a mat-button routerLink="/">Contact</a>
</mat-toolbar> -->